<h1>Restaurants</h1>

<%= link_to "Add +", new_restaurant_path, class: 'btn btn-primary'%>
<br>

<div class="restaurants">
  <% @restaurants.each do |restaurant| %>
    <h2 class="title-link"><%= link_to restaurant.name, restaurant_path(restaurant)%></h2>
    <p><%= restaurant.category %></p>
  <% end %>
</div>
